# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List commonly used Data Science tools

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Labs|
|R Studio|
|PyCharm|

### Below are a few examples of evaluating arithmetic expressions in Python
### 3+3
### (4+3)*5

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
x=200
y=60
z=200/60
print(z, "hrs")

3.3333333333333335 hrs

## Author
Siddhartha